@font-face {
  font-family: "Radiance";
  src: url("fonts/radiance.ttf");
}
.carousel-cell {
  margin-right: 16px;
  width: 300px;
  height: 168px;
  border-radius: 16px;
  overflow: hidden;
}

.carousel {
  border-radius: 16px;
  overflow: hidden;
}

.carousel-title {
  font-weight: bold;
}

.wide {
  width: 600px;
}

.logo {
  position: absolute;
  width: 100%;
  height: 168px;
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
}

p {
  margin: 0;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: all;
  box-shadow: 0 0 150px rgba(0, 0, 0, 0.75) inset;
  transition: all 0.2s ease-in-out;
}

.backdrop:hover {
  box-shadow: 0 0 150px rgb(0, 0, 0) inset;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Radiance", sans-serif;
  background: linear-gradient(#282945, #1e1d25);
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.page-container {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  top: 0;
  bottom: 0;
  gap: 25px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 17px;
  line-height: 40px;
  letter-spacing: 4px;
}

.masthead {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.spacer {
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 1px;
  width: 100%;
}

.navbar {
  list-style-type: none;
  font-family: "Onest", sans-serif;
  color: white;
  height: 80px;
  border: 1px solid yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li a {
  display: block;
  color: rgba(255, 255, 255, 0.75);
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

.container {
  max-width: 900px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  /* border: 1px solid green; */
  /* border-bottom: 1px solid white; */
}

.username {
  background: -webkit-linear-gradient(#ffffff, #226f92);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.show-all {
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 15px;
  transition: all 0.1s ease-out;
}
.show-all .show-all-text {
  background: linear-gradient(to right, #5459AC, #648DB3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.show-all:hover {
  transform: scale(1.15);
}
.show-all:hover .show-all-text {
  background: linear-gradient(to left, #F7374F, #88304E);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.avatar {
  display: flex;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  background-color: #393E46;
}

.card-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.social-button {
  transform: scale(1);
  transition: all 0.1s ease-out;
}

.social-button:hover {
  transform: scale(1.1);
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
  width: 100%;
}