<div class="masthead fade-me-in">
    <img class="avatar" src="/images/avatar.jpg">
    <div class="card-container">
        <div>
            <h1>Hi, I'm <span class="username">tzainten</span>. I like coding.</h1>
        </div>
        <div class="social-links">
            <a href="https://github.com/tzainten/" class="social-button">
                <img src="/images/github.png" width="32" height="32">
            </a>
            <a href="https://steamcommunity.com/id/tzainten" class="social-button"> 
                <img src="/images/steam.png" width="32" height="32">
            </a>
        </div>
    </div>
    <div class="location">
        <div style="display: flex; align-items: center; flex-direction: row; gap: 10px;">
            <img src="/images/usa.png" height="32" />
            <p style="white-space: nowrap;">United States</p>
        </div>
        <div class="time">
            <p id="timeZone" style="white-space: nowrap;"></p>
        </div>
    </div>
</div>

<div class="fade-me-in quick spacer"></div>